<configuration>
  <properties>
    <smtpHost>localhost</smtpHost>
    <!-- required-->
    <smtpPort></smtpPort>
    <smtpUsername></smtpUsername>
    <smtpPassword></smtpPassword>
    <emailEncoding></emailEncoding>
    <!-- iso-8859-1, utf-8, us-ascii, etc.  -->
    <tempDir></tempDir>
  </properties>
  <components>
    <!-- Email Service-->
    <component
      id="FX.Utils.emailservice"
      service="FX.Utils.EmailService.IEmailService, FX.Utils"
      type="FX.Utils.EmailService.DefaultEmailService, FX.Utils">
    </component>
    <component
			id="FX.Utils.emailsender"
			service="FX.Utils.EmailService.IEmailSender, FX.Utils"
			type="FX.Utils.EmailService.SmtpNet2EmailSender, FX.Utils">
      <parameters>
        <host>mail.com</host>
        <port>587</port>
        <EnableSsl>true</EnableSsl>
        <smtpUsername>mail.com</smtpUsername>
        <smtpPassword>1111</smtpPassword>
        <!-- optional properties
				<emailEncoding>#{emailEncoding}</emailEncoding>
				-->
      </parameters>
    </component>
    <component
			id="FX.Utils.emailtemplateengine"
			service="FX.Utils.EmailService.IEmailTemplateEngine, FX.Utils"
			type="FX.Utils.EmailService.SimpleEmailTemplateEngine, FX.Utils">
    </component>
    <!--DKAC.Core-->

    <component  id="IUser" service="Core.IService.IUser, Core"  type="Core.Service.UserService, Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    
    <component  id="ICongTy" service="Core.IService.ICongTy, Core"  type="Core.Service.CongTyService, Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IQuocGia" service="Core.IService.IQuocGia, Core"  type="Core.Service.QuocGiaService, Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IHangHoa" service="Core.IService.IHangHoa, Core"  type="Core.Service.HangHoaService, Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IKhachHang" service="Core.IService.IKhachHang, Core"  type="Core.Service.KhachHangService, Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IPhieuNhap" service="Core.IService.IPhieuNhap, Core"  type="Core.Service.PhieuNhapService, Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ICT_PhieuNhap" service="Core.IService.ICT_PhieuNhap, Core"  type="Core.Service.CT_PhieuNhapService, Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IPhieuXuat" service="Core.IService.IPhieuXuat, Core"  type="Core.Service.PhieuXuatService, Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ICT_PhieuXuat" service="Core.IService.ICT_PhieuXuat, Core"  type="Core.Service.CT_PhieuXuatService, Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

  </components>
</configuration>
